#timer-page {
    width:100%;
    height:100%;
}
#timer-page > main > section.timer-zone {
    width:31.25rem;
    height:17rem;
    position:absolute;
    top:50%;
    margin-top:-8.5rem;
    left:50%;
    margin-left:-15.625rem;
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
}
#timer-page > main > section.timer-zone > button.run-and-stop {
    margin-top:2rem;
    border-radius:24px;
    padding:0.75rem 4rem;
    font-size:1rem;
    cursor:pointer;
    border:none;
    font-family:'Nanum Gothic';
    font-weight:bold;
}

button.run-and-stop.run {
    background:lightsalmon;
}
button.run-and-stop.run:hover {
    background:orange;
}
button.run-and-stop.stop {
    background:lightgreen;
}
button.run-and-stop.stop:hover {
    background:greenyellow;
}