#timer-page {
    width:100%;
    height:100%;
}
#timer-page > main > section.timer-zone {
    width:31.25rem;
    height:17rem;
    position:absolute;
    top:50%;
    margin-top:-8.5rem;
    left:50%;
    margin-left:-15.625rem;
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
}
#timer-page > main > section.timer-zone > div.controller > button.run-and-stop {
    height:56px;
    border-radius:28px;
    padding:0.75rem 4rem;
    font-size:1rem;
    border:none;
    font-family:'Nanum Gothic';
    font-weight:bold;
}
div.controller {
    display:flex;
    flex-direction:row;
    margin-top:2rem;
    width:300px;
    justify-content: space-between;
}
button {
    cursor:pointer;
    background:#DDD;
}
button.prev,button.next {
    display:inline-block;
    height:56px;
    width:56px;
    border-radius:50%;
    border:none;
    margin:auto 0;
}
button.prev:hover,button.next:hover {
    background:#CCC;
}
button.run-and-stop.run {
    background:lightsalmon;
}
button.run-and-stop.run:hover {
    background:orange;
}
button.run-and-stop.stop {
    background:lightgreen;
}
button.run-and-stop.stop:hover {
    background:greenyellow;
}