.timer {
    display:flex;
    flex-direction:row;
    text-align:center;
    font-family:'RobotoMono';
    font-weight:300;
}
.timer > span {
    font-size:10rem;
    margin:auto 0;
}

.timer > span.minutes,span.seconds {
    width: 13rem;
}
.timer > span.colon {
    height:10rem;
    line-height:8.5rem;
}
.timer.run {
    color:black;
}
.timer.end {
    color:black;
}
.timer.break {
    color:green;
}
.timer.run.will-be-end {
    color:red;
}
.timer.stop {
    color:orange;
}