button {
    height:48px;
    background-color: #dddddd;
    border-radius:24px;
    padding:0.25rem 2rem;
    font-size:1rem;
    cursor:pointer;
    border:none;
    font-family:'Nanum Gothic';
    font-weight:bold;
}
button:hover {
    background-color:#cccccc;
}

.run > button {
    background:#E2F0CB;
}
.run > button:hover {
    background:#caeb94;
}
.stop > button {
    background:#FF9AA2;
}
.stop > button:hover {
    background:#ff858e;
}